.app-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.form-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin: 0.5em;
}

form {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center;
}

form input {
	margin-bottom: 15px;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}
