.task-card {
	height: auto;
	width: 250px;
	border: 1px solid #ccc;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

h2 {
	margin: 0 0.5em 0.5em 0.5em;
	font-size: larger;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

.task-card-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.task-card-selected {
	width: 24px;
	height: 24px;
}

.task-card-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.task-card-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.checkbox-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 10%;
}
