#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	height: 100dvh;
	padding: 2rem;
}

#add-task-button {
	display: flex;
	padding: 0px 12px 6px 12px;
	border: 1px solid #eee;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1.5em;
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: flex-start;
}

.top-right {
	position: absolute;
	top: 1em;
	right: 1em;
}

.top-right button {
	border: 1px solid #eee;
	padding: 12px;
}

.card {
	padding: 2em;
}
